<!DOCTYPE html>
<html lang="en" class="dark h-screen">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Snakes and ladders</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script
      src="https://cdn.socket.io/4.3.2/socket.io.min.js"
      integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="h-full">
    <div id="app" class="h-full text-lg flex flex-col">
      <!-- Make gameboard component in vue -->
      <div class="flex flex-col h-full w-full" v-if="gameScreen">
        <div
          class="relative h-full flex flex-wrap flex-row-reverse divide-grey-400 divide-y divide-x border-grey-400"
        >
          <div
            :class="'w-20 h-20 flex flex-col justify-center items-center basis-1/' + board.xTiles +  ' bg-' + bgColor(index) +'-50'"
            v-for="index in Array.from({length: board.xTiles * board.yTiles}, (_, i) => i + 1).reverse()"
            :key="index"
          >
            {{index}}

            <div
              v-if="current == index"
              class="w-3 h-3 bg-green-400 rounded-full"
            ></div>
          </div>
        </div>

        <div id="menu" class="p-4 flex flex-row justify-between">
          <button @click="throwDice">Throw dice</button>
          <div v-if="latestThrow">
            <p>last throw</p>
            <span v-for="dice in latestThrow.diceRoll ">{{dice}} | </span>
            <span v-if="latestThrow.hit">you hit a {{latestThrow.hit}}</span>
          </div>
        </div>
      </div>

      <!-- Make gameover component in vue -->
      <div
        v-if="gameOver"
        class="w-full h-full flex justify-center items-center"
      >
        GameOver
      </div>
    </div>
  </body>

  <script>
    const { createApp } = Vue;
    const app = createApp({
      methods: {
        throwDice() {
          axios
            .post("http://localhost:3000/throw", {}, { current: this.current })
            .then((res) => {
              this.latestThrow = res;

              this.player = res.destination;
              this.state = res.gameOver == true ? 2 : 1;
            })
            .catch((e) => {
              console.error(e);
            });
        },
        tiles(name) {
          return this.xTiles * this.yTiles;
        },
        bgColor(id) {
          return id % 2 == 0 ? "grey" : "orange";
        },
      },
      computed: {
        gameScreen() {
          return this.state == 1;
        },
        gameOver() {
          return this.state == 2;
        },
      },
      data() {
        return {
          socket: undefined,
          // state => 0: MenuScreen, 1: GameScreen, 2: GameOver
          state: 1,
          current: 1,
          board: {
            xTiles: 6,
            yTiles: 6,
          },
          latestThrow: undefined,
        };
      },
    });
    app.mount("#app");
  </script>
</html>
